.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.about__img {
  height: 220px;
  width: 1240px;
  background-image: url('../images/montagne.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}