@use '../../assets/style/variables' as *;

.tags-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: $primary-color;
  border-radius: 15px;
  color: $white;
  font-size: 14px;
  padding: 10px 15px;
}
