@use '../../assets/style/variables' as *;

.card-container {
  background-color: $secondary-color;
  border-radius: 25px;
  // height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  padding: 50px;
}
