.card {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  gap: 60px;
  position: relative;
  
  img {
    filter: brightness(0.8);
    width: 340px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
      filter: brightness(0.6);
    }
  }

  h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    flex-basis: 100vw;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .card {
    height: 255px;
  }
}
