@use '../../assets/style/variables.scss' as *;

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1240p;
  height: 415px;

  button {
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 45px;
      height: 80px;
    }
  }

  .prev-slide {
    left: 0;
  }

  .next-slide {
    right: 0;
  }
}

.slide {
  border-radius: 25px;
  width: 1240px;
  height: 100%;
  object-fit: cover;
}

.slide-hidden {
  display: none;
}

.indicator {
  position: absolute;
  bottom: 10px;
  color: $white;
  font-size: 18px;
}