p {
  color: #FF6060;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.num-error {
  font-size: 288px;
  font-weight: 700;
}

.text-error {
  font-size: 36px;
  font-weight: 500;
}

.link-error {
  text-decoration: underline;
  font-size: 16px;
}